@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  position: relative;
  @apply bg-gray-200;
  @apply pb-28;
}

.text-outline {
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}
